@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.top{
    text-align: right;
    width: 500px;
    height: 97px;
}

.mid{

    position: absolute;
    width: 100%;
    height: 500px;
    background: #10b78c;
    z-index: 5;
}

.midimg{
    float: left;
    width: 440px;
}

.midformbox{

    display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    /*background: red;*/
    float: right;
    width: 500px;
    height: 470px;
    margin-right: 200px;
}

.midform {
/*background: skyblue;*/

}


.textinput{
    border: 1px solid #ccc;
    height: 42px;
    *outline: none;
    font-size: 18px;
    margin-bottom: 5px;
}

.loginbuttonbox{

}

.loginbutton{
    border: none;
    outline: none;
    height: 42px;
    line-height: 42px;
    background: #ee9514;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.tipinfo{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.tipinfo:hover{
    color: skyblue;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 150px;
}

.footer_top {
    color: #6C6C6C;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    width: 1190px;
    height: 60px;
    margin-top: 15px;

}

.footer_top p {
    margin-bottom: 8px;
    line-height: 27px;
    border-bottom: 1px solid #ddd;
}

.footer_top div {
    margin: 0;
    padding: 0;
}

.footer_top ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;

}

.footer_top ul li {
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.footer_top a{
    color: #6c6c6c;
    text-decoration: none;
}
